@media (min-width: 768px) {
  .dumi-default-header-content {
    width: 1200px;
  }
  .dumi-default-hero-title {
    font-size: 95px !important;
    > p {
      font-family: fantasy !important;
    }
  }
  .dumi-default-navbar > li {
    font-size: 14px !important;
  }
  .dumi-default-sidebar {
    width: 220px !important;
    > dl > dd > a {
      font-size: 13px !important;
    }
  }
}
